doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
  body
    block content
